<div id="container-login">
  <div class="container align-middle modal-dialog-centered" style="">
      <div class="row mx-auto">
        <div class="col">
          <h1 class="titles">Inicia Sesión</h1>
          <p style="color:red;font-size:1.5em" class="justify-content-md-center">{{#if err}}{{err}}{{/if}}</p>
        </div>
      </div>
  </div>
  <div class="container-fluid align-middle justify-content-md-center">
    <div class="row ">
      <div class="messages-login col-sm col-md-6 offset-md-3">
        <form validated action="/login" method="post">
          <div class="form-group">
            <label for="email1" class="class-name">Email:</label>
            <input type="email" class="form-control" name="email" id="email1" aria-describedby="emailHelp" placeholder="tuemail@email.com" value="{{email}}" required>
          </div>
          <div class="form-group">
            <label for="password01" class="class-name">Password:</label>
            <input class="form-control" id="password01" placeholder="Tu password" value="{{password}}" required placeholder="Tu password de usuario" name="password" type="password">
          </div>
          <button type="submit" class="button-login btn col btn-form mx-auto btn-outline-success">Enviar</button>
        </form>
        <h5 class="mensajes-bienvenida">¿Aún no estás registrado?<br>¡Crea tu cuenta!</h5>
        <button class="btn col btn-form mx-auto btn-outline-success" onClick="javascript:location.href = '/signup';">Crea tu cuenta</button>
        <h5 class="mensajes-bienvenida">Si no quieres registrate ¡No te detengas! <br>accede como incógnito:</h5>
        <button id="button-login-down" class="btn col btn-form mx-auto btn-outline-success" onClick="javascript:location.href = '/map';">Entrar sin una cuenta</button>
      </div>
    </div>
  </div>
</div>