<div class="index-background">
    <img src="images/Esta-malandro-icon-full-resolution.png" width="200px" height="200px" alt="">
    <br>
    <h2>ESTÁ MALANDRO</h2>
    <div>
        <h4>Está malandro es una aplicación que te ayuda a localizar sitios peligrosos</h4>
    </div>
    <a href="/login">Entrar</a>
</div>