<style>
  .input_none{
    display: none;  
  }
  .pac-container {
    z-index: 99888999 !important;
  }
</style>
  
  <nav class="navbar navbar-dark bg-dark navbar-nav navbar-expand-sm navbar-expand-sm-lg">
    <div class="form">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Mi perfil</span>
      </button>
    
    <form class="form">
      <input class="form-control" type="search" placeholder="Search" id="address">
      <button type="button" class="btn bg-dark" data-toggle="modal" data-target="#exampleModal" id="malandro">
        <img src="images/boton-superior-malandro-2.png" width="40" height="40" alt="malandro" >
      </button>
    </form>
    </div>
</nav>

<div class="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mis reportes</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
           {{#each user}}
          <a href="#">{{this}}</a>
          {{/each}}
        </ul>
      </li>
      <li>
        <a href="#">Cerrar mi cuenta</a>
      </li>
    </ul>
  </nav>
  
<div id="map"></div>
</div>
<!--cierra el wrapped del sidebar -->
<footer>
  <nav class="footer-nav">
    <a class="iconimages" href="/map">
      <img src="images/icono-todos.png" width="140" height="140" alt="">
    </a>
    <a class="iconimages" href="/map?ROBO">
      <img src="images/icono-robo.png" width="140" height="140" alt="">
    </a>
    <a class="iconimages" href="/map?ACOSO-SEXUAL">
      <img src="images/icono-acoso-sexual.png" width="140" height="140" alt="">
    </a>
    <a class="iconimages" href="/map?GRUPOS-SOSPECHOSOS">
      <img src="images/icono-grupos-sospechosos.png" width="140" height="140" alt="">
    </a>
    <a class="iconimages" href="/map?ENFRENTAMIENTOS-ARMADOS">
      <img src="images/icono-enfrentamientos-armados.png" width="140" height="140" alt="">
    </a>
    <a class="iconimages" href="/map?SIN-ILUMINACION">
      <img src="images/icono-sin-luz.png" width="140" height="140" alt="">
    </a>
    <a class="iconimages" href="/map?AGRESION">
      <img src="images/icono-agresion.png" width="140" height="140" alt="">
    </a>
  </nav>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Este lugar, Est치 Malandro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/places/new" method="post">
          <div class="form-group">
            <select name="tipodelugar" id="tipodelugar" class="form-control">
              <option selected>Tipo de Incidente</option>
              <option value="ROBO">Robo</option>
              <option value="ACOSO-SEXUAL">Acoso Sexual</option>
              <option value="GRUPOS-SOSPECHOSOS">Grupos Sospechosos</option>
              <option value="ENFRENTAMIENTOS-ARMADOS">Enfrentamientos Armados</option>
              <option value="SIN-ILUMINACION">Sin Iluminaci칩n</option>
              <option value="AGRESION">Agresi칩n</option>
            </select>
          </div> 
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="direccion" placeholder="Direcci칩n" name="location[address]">
              <input type="text" name="location[coordinates][1]" id="lat" class="input_none">
              <input type="text" name="location[coordinates][0]" id="lng" class="input_none">
              <input type="text" name="image" id="image" class="input_none">
            </div>  

          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <textarea type="text" class="form-control" id="comentario" placeholder="Comentario" name="comentario"></textarea>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Reportar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGQ8r0BfjX69HJHYdnGnoZ5K1m9YwjcQo&libraries=places"></script>
  <script>

    /* New Dot */

    //const items = '{{items}}';
    const search = document.getElementById('address');
    const malandro = document.getElementById('malandro');
    const image = {
      url:'images/marcador-malandro-rojo-extrasmall.png',
      size: new google.maps.Size(59, 80)
    };
    const options = {
      componentRestrictions: {country: 'mx'}
    };
    const tipodelugar = document.getElementById('tipodelugar');
    var items = {{{items}}} //Crea una variable con el array de items
    console.log('los places', items); //imprime el array de items en la consola.

    let direccion = document.getElementById('direccion');
    let lat = document.getElementById('lat');
    let lng = document.getElementById('lng');

    function autoComplete(input) {
      const dropdown = new google.maps.places.Autocomplete(input, options);
      dropdown.addListener('place_changed', () => {
        const place = dropdown.getPlace();
        direccion.value = input.value;
        lat.value = place.geometry.location.lat();
        lng.value = place.geometry.location.lng();
        nuevaDireccion(place)
      });

    }

    function nuevaDireccion (place){

      const lugar = place;
      const center = {
        lat: lugar.geometry.location.lat(),
        lng: lugar.geometry.location.lng()
      };
      const map = new google.maps.Map(
        document.getElementById('map'),
        {
          zoom: 19,
          center: center
        }
      )
      const myMarker = new google.maps.Marker({
        position: center,
        map: map,
        title: "I'm here",
        animation: google.maps.Animation.BOUNCE,
        icon: image
      });
    }

    malandro.addEventListener('click',autoComplete(direccion));
    tipodelugar.addEventListener('change', tipoImg);

    function startMap() {

      if (navigator.geolocation) {
        // Get current position
        // The permissions dialog will popup
        navigator.geolocation.getCurrentPosition(function (position) {
          const center = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          // Create an object to match
          // google's Lat-Lng object format
          const map = new google.maps.Map(
            document.getElementById('map'),
            {
              center,
              zoom: 15
            }
          );
          const myMarker = new google.maps.Marker({
            position: center,
            map: map,
            title: "I'm here",
            draggable: true,
            animation: google.maps.Animation.BOUNCE,
            icon: image
          });
          if(items){
            for (var i = 0; i < items.length; i++) {

              var item = items[i];
              var title = item.tipodelugar;
              var contentString = '<div class="container">'+
                  '<h3><img src="'+item.image+'">'+ item.tipodelugar +'</h3>'+
                  '<h5>'+ item.comentario +'</h5>'+
                  '</div>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString,
                // maxWidth: 200
              });
              var marker = new google.maps.Marker({
                position: {lat: item.location.coordinates[1], lng: item.location.coordinates[0]},
                map: map,
                icon: image,
                title: title,
                animation: google.maps.Animation.DROP,
              });
              google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                return function() {
                  infowindow.setContent(content);
                  infowindow.open(map,marker);
                  google.maps.event.addListener(map,'click', function(){ 
                    infowindow.close();
                  }); 
                };
              })(marker,contentString,infowindow)); 
            }
          }
          // User granted permission
          // Center the map in the position we got
        }, function () {
          // If something else goes wrong
          console.log('Error in the geolocation service.');
        });
      } else {
        // Browser says: Nah! I do not support this.
        console.log('Browser does not support geolocation.');
      }
    }

    startMap();
    autoComplete(search);

    malandro.addEventListener('click', autoComplete(direccion));

    jQuery(document).ready(function() {
      jQuery("[href]").each(function() {
        if (this.href == window.location.href) {
          jQuery(this).addClass("active");
        }
      });
    });
    function tipoImg(){
      let img = document.getElementById('image')
      console.log(tipodelugar.value)
      switch(tipodelugar.value) {
        case 'ROBO':
          img.value = 'images/icono-robo.png'
          break;
        case 'ACOSO-SEXUAL':
          img.value = 'images/icono-acoso-sexual.png'
          break;
        case 'GRUPOS-SOSPECHOSOS':
          img.value = 'images/icono-grupos-sospechosos.png'
          break;
        case 'ENFRENTAMIENTOS-ARMADOS':
          img.value = 'images/icono-enfrentamientos-armados.png'
          break;
        case 'SIN-ILUMINACION':
          img.value = 'images/icono-sin-luz.png'
          break;
        case 'AGRESION':
          img.value = 'images/icono-agresion.png'
          break;
      }
    }
    /* SideBar */
    $(document).ready(function () {
  
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
        });

      });
  </script>

