body {
	font: 16px Helvetica, Arial, sans-serif;
	background-color: #343a40;
}
a {
	color: #00b7ff;
}
/* NavBar */
.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}
#sidebar {
	min-width: 250px;
	max-width: 250px;
	min-height: 100vh;
}
#sidebar.active {
	margin-left: -250px;
}
a[data-toggle="collapse"] {
	position: relative;
}
.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
/*Colores y fancy de SideBar*/
#sidebar {
	/* don't forget to add all the previously mentioned styles here too */
	background: #343a40;
	color: #fff;
	transition: all 0.3s;
}
#sidebar .sidebar-header {
	padding: 20px;
	background: #6d7fcc;
}
#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #707070;
}
#sidebar ul p {
	color: #fff;
	padding: 10px;
}
#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #707070;
}
.btn-info {
	color: #fff;
	background-color: #f05657;
	border-color: #f05657;
}
.btn-info.focus, .btn-info:focus {
	box-shadow: 0 0 0 0.2rem rgba(204,204,204,.5);
}
#sidebar ul li a:hover {
	color: #707070;
	background: #fff;
}
.btn-info:hover {
	color: #fff;
	background-color: #e45f45;
	border: 2px solid #f05657;
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #343a40;
}
@media (max-width: 768px) {
	#sidebar {
			margin-left: -250px;
	}
	#sidebar.active {
			margin-left: 0;
	}
}
/* Layout */
.form {
	display: flex;
	flex-flow: row nowrap !important;
	align-items: center;
	flex-grow: 1;
}
.btn-primary {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
	margin-left: 100px;
}
.btn-primary:hover {
	background-color: #707070;
	border-color: #707070;
}
.btn-outline-success {
	color: #f05657;
	border-color: #f05657;
}
.btn-outline-success:hover {
	background-color: #f05657;
	border-color: #f05657;
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
	background-color: #f05657;
	border-color: #f05657;
}
.btn-outline-success:focus {
	box-shadow: 0 0 0 0.2rem rgba(240,86,87,.5);
}
.footer-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #cccccc;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-height: 90px;
}
.iconimages img{
	max-height: 50px;
	max-width: 50px;
}
.iconimages:hover {
	background-color: #707070;
}
.iconimages.active {
	background-color: #f05657;
}
#map {
	width: 100%;
	height: 83vh;
	background-color: black;
}
.index-background {
	background-color: #343a40;
	width: 100%;
	height: 100vh;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
}
.index-background h2 {
	color: #ccc;
	padding:0 10%;
}
.index-background div h4 {
	color: #ccc;
	padding: 5% 10%;
}
.index-background a {
	color: #f05657;
	font-size: 1.5em;
	padding-top: 0%;
}
/*Login*/
.titles {
	color: #ccc;
	margin-top: .3em;
	text-align: center;
}
.class-name {
	color: #ccc;
}
#container-login {
	background-color: #343a40;
	height: 100%;
}
.button-login {
	margin:1em;
}
.mensajes-bienvenida {
	color: #707070;
	text-align: center;
	 margin: .5em;
}
#button-login-down {
	margin-bottom: 5%;
}